

*{
  box-sizing: border-box;
}

.all{
    width: 500px;
    padding: 20px;
    margin: 0px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bt{
    display: flex;
    align-items: center;
}

/*body{
	font-family: 'Playfair Display', serif;
	color: rgba(172,170,190, 1);
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #3b3d54;
	font-size: 14px;
	overflow: hidden;
}*/

body{
    background-color: #3b3d54;
    overflow: hidden;
}

.wrap{
	perspective-origin: 50% 50%;
}

.svg{
	stroke:#7ceaa4;
	position:absolute;
	bottom: -100vh;
	transform-style: preserve-3d;
}


@for $i from 1 through 10 {
	$scale:random(2) - .4;
	
	.svg:nth-child(#{$i}){
		left:random(120) * 1% - 20;
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		z-index: $i - 7;
		filter: blur($i - 6 + px);

	  @keyframes raise#{$i} {
		  to{
			 bottom:150vh;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}