body{
    background-color:  rgba(96, 121, 160, 0.929);
}
audio{
    display: none;
}

.colorpicker{
    color:
    #93DFB8
    #FFC8BA
    #E3AAD6
    #B5D8EB
    #FFBDD8
    
    #7fa3b8
    #9bb9e8
    #9ac785
    #f3f5b8
    #dbd093
   ;
}

canvas{
    position: absolute;
    z-index: -1;
    top: 0;
}
.card-img-top{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
}
.all{
    position: absolute;
    top:20%;
    left: 11%;
}
.card{
    width: 400px;
    height: 100px;
    /* position: absolute; */
    display: inline-table;
}
.c1{
    
}
.c2{

}
.c3{

}
.c4{
    border-radius: 30px;
}
.c5{

}
h1{
    text-align: center;
    font-family: Rubik Glitch;
    font-size: 70px;
    font-weight: bolder;
}
h2{
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin: 1%;
}