body{
    background-color:  rgba(96, 121, 160, 0.929);
}
#Title{
    text-shadow:
       5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #ffffff;
    position: absolute;
}
audio{
    /* display: none; */
    width:110px;
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: 7;
    opacity: 0.8;
}
canvas {
    position: absolute;
    z-index: -1;
    top: 0;
}
.card-img-top{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    /* border: 10px double rgb(54, 65, 90); */
}
.all{
    position: absolute;
    top:20%;
    left: 11%;
}
.card{
    width: 400px;
    height: 100px;
    /* position: absolute; */
    display: inline-table;
}
.c1{
    border-radius: 30px;
}
.c2{
    border-radius: 30px;
}
.c3{
    border-radius: 30px;
}
.c4{
    border-radius: 30px;
}
.c5{
    border-radius: 30px;
}
h1{
    position: absolute;
    top: -2%;
    left: 30%;
    text-align: center;
    /* font-family: Rubik Glitch; */
    font-family: "Zen Dots";
    font-size: 70px;
    font-weight: bolder;
    /* color: rgb(29, 4, 50); */
    color: rgb(39, 43, 73);
    z-index: 8;
}
h2{
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    margin: 1%;
}