body{
    /* background-color: azure; */
    background-color: rgba(110, 129, 157, 0.92);
    height: 150%;
    /* overflow: hidden; */
}
#Title{
    text-shadow:
       5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #ffffff;
    position: absolute;
    left: 33%;
    top:-5%;
    font-size: 90px;
    z-index: 7;
    font-family: 'Secular One';
}
/* .tmp{
 color : #FFFFFF #ffeec2 #94baf7 
 #cddefa", "#dfe8f7", "#99b3e0", "#f7f19c", "#ffeec2"
 #FFFFFF;
} */
.ScoreList{ 
    background-color: #ffffff;
    width: 500px;
    /* height: 460px; */
    position: absolute;
    left: 27%;
    top: 18%;
    font-size: 30px;
    padding: 20px 50px 50px 80px;
    list-style-position: outside;
    font-size: 30px;
    border-radius: 10%;
    border: 15px double black;
    /* overflow: hidden; */
}
.ScoreList li{
    border-bottom:1px #000000 solid;
    font-family: 'Zen Dots';
}
/* .ScoreList{
    width: 700px;
    position: absolute;
    left: 27%;
    top: 20%;
    font-size: 30px;
    padding: 1px;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 10%;
} */
.t1{
    position: absolute;
    left: 8%;
    display: inline-block;
    width: 25%;
    text-align: left;
    font-size: 30px;
    margin: 20px 0px 10px 0px;
    font-family: 'Zen Dots';
}
.t2{
    width: 95%;
    display:inline-block;
    text-align: right;
    font-size: 30px;
    margin: 20px 0px 10px 10px;
    /* margin: 10px; */
    font-family: 'Zen Dots';
}
.c1{
    display: inline-block;
    width: 25%;
    text-align: left;
    margin: 20px 0px 20px 0px;
    
}
.c2{
    width: 69%;
    display:inline-block;
    text-align: right;
    margin: 20px 0px 20px 0px;
    font-family: 'Zen Dots';
    /* margin: 10px; */
}
tr{
    border-bottom: 1px solid #e4fac4;
}
#goback{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 70%;
    position: absolute;
    left: 26.5%;
    top: 8%;
}
/* li:nth-of-type(even){
    background-color:#cfffe1;
}
li{
    padding: 20px;
    background-color: rgb(150, 203, 210);
    height: 50px;
} */