body{
    background-color: rgba(110, 129, 157, 0.929);
    overflow: hidden;
    /* background-image: url('../img/universe2.jpg'); */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#other{
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 2;
    /* text-align: center; */
}
#bodyBackground{
    width: 10000px;
    height: 100000px;
    background-color: rgba(255,255,255,0.);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;
}

.star{
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 3;
}
.star:hover{
    transform: scale(10, 10) rotate(180deg) !important;
    transition: all 1s;
}
.bullet{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 250px;
    z-index: 4;
}
.rock{
    width: 50px;
    height: 50px;
    position: absolute;
    /* top: -10%; */
    animation-name: RR;   
    animation-duration: 12s;    
    animation-delay: 0s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}
#MainBackground{
    background-color: rgb(24, 22, 47);
    /* background-image: url(../img/universe3.jpg); */
    width: 500px;
    height: 500px;
    position: absolute;
    left: 10%;
    /* left: 33%; */
    top: 20%;
    z-index: 2;
    overflow: hidden;
    border: 10px white double;
    /* border-radius: 30%; */
}
#Score{
    font-family: 'Alfa Slab One';
    font-size: 60px;
    position: absolute;
    left: 40%;
    top:-5%;
    /* color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(57, 63, 77); */
    color: rgb(58, 73, 99);
    /* -webkit-text-stroke: inherit; */
    -webkit-text-stroke: 0.01pt rgb(255, 255, 255);
    text-shadow:
    5px 5px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    
}
#intro{
    background-color: rgba(208, 223, 243, 0.949);
    width: 500px;
    height: 600px;
    position: absolute;
    left: 55%;
    top:11%;
    z-index: 2;

    border: 8px white double;
    border-radius: 30%;
    /* text-align: center; */
    color: rgb(50, 59, 82);
    padding: 0;
    
}
#intro ul{
    font-size: 25px;
    text-align: left;
    position: absolute;
    left: 15%;
    margin: 10px 0px 0px 0px;
}
#intro li{
    margin: 10px 0px 15px 0px;
}
#intro h1{
    text-align: center;
    font-family: 'Russo One';
    font-size: 60px;
    margin: 40px 0px 0px 0px;
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
}
#intro button{
    font-size: 40px;
    background-color: rgb(150, 167, 187);
    width: 150px;
    height: 70px;
    position: absolute;
    left: 37%;
    top: 80%;
    border-radius: 10%;
    border: 8px rgb(255, 255, 255) double;
    color: rgb(57, 63, 77);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: 'Russo One';
}

#GameOver{
    width: 300px;
    height: 200px;
    background-color:aliceblue;
    position: absolute;
    left: 37%;
    top:30%;
    z-index: 8;
    text-align: center;
    padding:10px 50px 10px 50px;
    border-radius:10%;
    font-family: 'Ubuntu Mono';
    border: 15px  rgb(125 127 134) double;
}
#GameOver #Title{
    font-size: 40px;
    margin: 20px 0px 5px 0px;
}
#GameOver button{
    width: 60px;
    height: 35px;
    font-size: 25px;
    font-family: 'Ubuntu Mono';
    margin: 5px 20px 10px 20px;
    border-radius: 10%;
    background-color: #c6cee3;
}
#goback{
    position: absolute;
    /* background-color: #c6cee3; */
    width: 80px;
    height: 80px;
    z-index: 10;
    left: 92%;
    top: 2%;
}
#goback img{
    width: 80px;
    height: 80px;
    /* border: 5px #000 double; */
    /* transform: scale(1); */
}

#start{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 25%;
    opacity: 0;
}
#again{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40%;
    left: 33%;
    opacity: 0;
}
#plane{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 250px;
    top : 430px;
    z-index: 5;
}
@keyframes RR{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
@keyframes flash {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}