body{
    background-color: rgb(94, 148, 175);
}
.bullet{
    width: 20px;
    height: 20px;
    position: absolute;
    top:250px;
    z-index: 2;
}
#tmp{
    background-color: black;
    width: 5px;
    height: 500px;
    position: absolute;
    left:295px;
}
.rock{
    width: 56px;
    height: 56px;
    position: absolute;
    left: 421px;
    top: 375px;
    /* top: -10%; */
    animation-name: RR;   
    animation-duration: 12s;    
    animation-delay: 0s; 
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}
#MainBackground{
    background-color: rgb(181, 219, 237);
    width: 500px;
    height: 500px;
    position: absolute;
    left: 40%;
    top: 30%;
    overflow: hidden;
    /* margin: 10px;    */
}
#plane{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 300px;
    top : 430px;
    z-index: 1;
}

